@font-face { 
    font-family: 'Kapakana'; 
    src: url('assets/kapakana-font/Kapakana-VariableFont_wght.ttf') 
    format('truetype');
}

body {
  margin: 0;
  padding: 0;

  background-image: url("assets/checkered-floor.png"); /* change to your file */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.foreground-photo {
  width: 950px;
  padding-left: 10px;
}

.photo-button { 
    position: absolute; 
    transform: translate(-50%, -50%); 
    padding: 8px 15px; 
    font-size: 30px; 
    font-family: 'Kapakana', sans-serif;
    color: #632424;
    border: none; 
    border-radius: 8px; 
    background-color:#FEE9E7; 
    cursor: pointer; 
    transition: 0.2s ease; 
    box-shadow: -4px 4px 2px #9a6c6c;
    top: 79%; 
    left: 50%; 
} 
.photo-button:hover { 
    background-color: #835C5C; 
    color:#FEE9E7;
}
