@font-face { 
    font-family: 'Kapakana'; 
    src: url("/static/assets/kapakana-font/Kapakana-VariableFont_wght.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;

  background-image: url("/static/assets/checkered-floor.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.photo-container { 
    position: relative; 
    display: inline-block; 
    width: 950px;
} 

.foreground-photo {
  width: 950px;
}

.photo-button { 
    position: absolute; 
    transform: translate(-50%, -50%); 
    padding: 5px 10px; 
    font-size: 35px; 
    font-family: 'Kapakana', sans-serif;
    color: #FEE9E7;
    border: none; 
    border-radius: 8px; 
    background-color:#835C5C; 
    cursor: pointer; 
    transition: 0.2s ease; 
    box-shadow: -4px 4px 2px #FEE9E7;
} 
.photo-button:hover { 
    background-color: #633939; 
    color:#FEE9E7;
}

.photo-button.download{
   top: 612px;
   left: 670px;
}

.photo-button.restart{
   top: 612px;
   left: 865px;
}