@font-face { 
    font-family: 'Kapakana'; 
    src: url("/static/assets/kapakana-font/Kapakana-VariableFont_wght.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;

  background-image: url("/static/assets/checkered-floor.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.photo-container { 
    position: relative; 
    width: 950px;
    height: 750px;   
    overflow: hidden;
} 

.foreground-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 950px;
  height: 750px;  
}

.photo-button { 
    position: absolute; 
    transform: translate(-50%, -50%); 
    padding: 5px 10px; 
    font-size: 35px; 
    font-family: 'Kapakana', sans-serif;
    color: #FEE9E7;
    border: none; 
    border-radius: 8px; 
    background-color:#835C5C; 
    cursor: pointer; 
    transition: 0.2s ease; 
    box-shadow: -4px 4px 2px #FEE9E7;
} 

.photo-button:hover { 
    background-color: #633939; 
    color:#FEE9E7;
}

.photo-button.download{
   top: 605px;
   left: 325px;
}

.photo-button.restart{
   top: 605px;
   left: 625px;
}
.strip-preview-onebythree {
  position: absolute;
  top: 200px;     
  left: 50%;
  transform: translateX(-50%);
  width: 500px;   
}

.strip-preview-fourbyone {
  position: absolute;
  top: 190px;      
  left: 50%;
  transform: translateX(-50%);
  width: 200px;   
}
.strip-preview-twobytwo{
    position: absolute;
    top: 190px;      
    left: 50%;
    transform: translateX(-50%);
    width: 200px
}
.strip-preview-fourbytwo{
    position: absolute;
    top: 190px;      
    left: 50%;
    transform: translateX(-50%);
    width: 200px
}
.strip-preview-onebyfour{
    position: absolute;
    top: 200px;      
    left: 50%;
    transform: translateX(-50%);
    width: 400px
}